.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfd;
  /* width: 70%; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
  padding: 18px 0;
  /* background-color: #7c7cdf; */
}

.navbar-logo {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #344054;
  margin-left: 20px;
  /* background-color: red; */
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.navbar-search input {
  padding: 4px 0 5px 30px;
  border-radius: 5px;
  border: 1px solid #e4e7eb;
  background-color: #f9fafb;
  font-size: 16px;
}
.navbar-search input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #98a2b3;
}

.navbar-icon {
  margin-left: 30px;
  font-size: 1.2rem;
  display: flex;
  color: #7a7a7b;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #a0aec0;
  font-size: 15px;
}

.navbar-hamburgerDiv {
  display: flex;
  gap: 15px;
  /* background-color: pink; */
}
.navbar-hamburger{
  display: none;
  /* background-color: #5430e6; */
  /* color: #ffffff; */
}


@media (max-width:1024) {
  .navbar-search{
    width: 10px;
  }
}


@media (max-width: 1000px) {
  .navbar-hamburgerDiv {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .navbar-hamburger{
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #344054;
    z-index: 1001;
  }
}

@media (max-width: 500px) {
  .navbar-search input {
    display: none;
  }
  .search-icon{
    display: none;
  }

}
