.sidebar {
  background-color: #9B76D6;
  color: white;
  display: flex;
  flex-direction: column;
  /* width: 241px; */
  gap: 140px;
  border: 0px 1px 0px 0px;
}
.ditchVector{
  display: flex;
  justify-content: center;
  /* padding-top: 12px;
  padding-bottom: 60px; */
  padding: 20px 50px 40px 40px;
}

.sidebar-title {
  width: 18px;
  height: 18px;
  padding: 2.93px 2.92px 2.92px 2.93px;
  opacity: 0px;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  font-family: Inter;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  padding: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
  display: flex;
  align-items: center;

}

.sidebar-icon {
  margin-right: 9px;
  display: flex;
  align-items: center;
}

.sidebar-footer {
  gap: 8px;
  opacity: 0px;
}

.footerProfile {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
  }

  .footerProfileIcon {
    margin-right: 10px; 
    font-size: 16px; 
    background-color: #ae96e65a;
    padding: 10px;
    border-radius: 50%;
  }
  
  .footerProfileName h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .footerProfileName p {
    margin: 0;
    font-size: 12px;
  }
  
  .footerProfileName {
    display: flex;
    flex-direction: column;
  }
  